@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
.page {
  background-color: #000;
  width: 100vw;
  color: #fff;
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  border: #000;
  max-width: 1440px;
}

.body {
  margin: 0;
}

.main {
  padding: 0 30px;
}
@media screen and (max-width: 768px) {
  .main {
    padding: 0 60px;
  }
}
@media screen and (max-width: 320px) {
  .main {
    padding: 0 20px;
  }
}
.main__subtitle {
  font-size: 32px;
  padding: 60px 130px 0;
  font-weight: normal;
  line-height: 40px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .main__subtitle {
    font-size: 20px;
    padding: 60px 0 0;
    line-height: 30px;
  }
}
@media screen and (max-width: 320px) {
  .main__subtitle {
    font-size: 12px;
    line-height: 18px;
    padding: 52px 0 0;
  }
}
.main__service-cleaning {
  background-color: #1c1c1e;
  padding: 0;
}
.main__last-subtitle {
  padding: 60px 130px 0;
}
@media screen and (max-width: 768px) {
  .main__last-subtitle {
    padding: 42px 0 0;
  }
}
@media screen and (max-width: 320px) {
  .main__last-subtitle {
    padding: 30px 0 0;
  }
}

.subtitle-grey {
  color: #8e8e98;
}

.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  padding: 120px 130px 0 130px;
}
@media screen and (max-width: 768px) {
  .services {
    padding: 120px 0 42px 0;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 320px) {
  .services {
    padding: 70px 0 0 0;
    grid-template-columns: 1fr;
  }
}
.services__subtitle {
  font-size: 32px;
  padding: 17px 0;
  font-weight: normal;
  line-height: 40px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .services__subtitle {
    font-size: 4.1575vw;
    line-height: 5.2vw;
  }
}
@media screen and (max-width: 320px) {
  .services__subtitle {
    font-size: 24px;
    line-height: 32px;
    padding: 8px 0 20px;
  }
}
.services__card {
  padding: 0 40px;
  background-color: #1c1c1e;
  border-radius: 10px;
  margin: 0 0 62px 0;
}
.services__card:hover {
  background: #232327;
}
@media screen and (max-width: 768px) {
  .services__card {
    margin: 0 0 20px 0;
  }
}
@media screen and (max-width: 320px) {
  .services__card {
    padding: 0 20px;
  }
}
.services__info {
  font-size: 18px;
  font-weight: normal;
  padding-top: 36px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .services__info {
    padding-top: 38px;
    font-size: 2.4vw;
  }
}
@media screen and (max-width: 320px) {
  .services__info {
    padding-top: 18px;
  }
}
.services__price {
  color: #25e197;
  font-size: 14px;
  margin: 0;
  padding: 22px 0 38px;
}
@media screen and (max-width: 320px) {
  .services__price {
    font-size: 12px;
    line-height: 18px;
    padding: 80px 0 20px;
  }
}

.header {
  padding-left: 160px;
  padding-top: 60px;
  display: grid;
  grid-template-rows: 3;
}
@media screen and (max-width: 768px) {
  .header {
    padding-left: 60px;
  }
}
@media screen and (max-width: 320px) {
  .header {
    padding-left: 20px;
    padding-top: 24px;
  }
}
.header__title {
  font-size: 112px;
  font-weight: normal;
  margin: 0;
  padding-top: 50px;
}
@media screen and (max-width: 768px) {
  .header__title {
    font-size: 9.1vw;
    padding-top: 74px;
    padding-bottom: 4px;
  }
}
@media screen and (max-width: 320px) {
  .header__title {
    font-size: 50px;
    padding-top: 60px;
    padding-bottom: 12px;
  }
}
.header__subtitle {
  font-size: 80px;
  font-weight: normal;
  margin: 0;
  padding-bottom: 216px;
}
@media screen and (max-width: 768px) {
  .header__subtitle {
    font-size: 6.5vw;
    line-height: 60px;
    padding-bottom: 470px;
  }
}
@media screen and (max-width: 320px) {
  .header__subtitle {
    font-size: 30px;
    padding-bottom: 256px;
    line-height: 38px;
  }
}
.header__subtitle-info {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: #47474c;
  margin: 0;
  padding: 14px 10px 118px;
}
@media screen and (max-width: 768px) {
  .header__subtitle-info {
    padding: 6px 10px 56px;
  }
}

@media screen and (max-width: 320px) {
  .subtitle-mobile {
    font-size: 12px;
    line-height: 18px;
  }
}

.form-question {
  display: flex;
  border: none;
  padding: 0;
  width: 569px;
  margin: 0;
  height: 50px;
  background-color: rgba(142, 142, 152, 0.2);
  border-radius: 9px;
}
.form-question:hover {
  background: rgba(142, 142, 152, 0.3);
}
@media screen and (max-width: 768px) {
  .form-question {
    width: 648px;
  }
}
.form-question__input {
  outline: none;
  border: none;
  margin: 0;
  height: 50px;
  background: rgba(142, 142, 152, 0.2);
  color: #8e8e98;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  padding: 0;
  width: 348px;
  border-radius: 8px 0 0 8px;
}
@media screen and (max-width: 768px) {
  .form-question__input {
    width: 426px;
  }
}
@media screen and (max-width: 320px) {
  .form-question__input {
    width: 229px;
  }
}
@media screen and (max-width: 768px) {
  .form-question__input-small {
    width: 55.5vw;
  }
}
@media screen and (max-width: 540px) {
  .form-question__input-small {
    width: 68.25vw;
  }
}
@media screen and (max-width: 320px) {
  .form-question__input-small {
    width: 71.25vw;
  }
}
@media screen and (max-width: 768px) {
  .form-question__input-footer {
    width: 45.25vw;
  }
}
@media screen and (max-width: 320px) {
  .form-question__input-footer {
    width: 71.25vw;
  }
}
.form-question__button {
  border: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  width: 13.8125rem;
  height: 50px;
  letter-spacing: 0.375px;
  text-align: center;
  line-height: 24px;
  color: #fff;
  background-color: #47474c;
  cursor: pointer;
  transition: color 0.2s;
  border-radius: 0px 8px 8px 0px;
}
@media screen and (max-width: 540px) {
  .form-question__button {
    width: 51px;
  }
}

@media screen and (max-width: 768px) {
  .form-question-small {
    width: 85vw;
  }
}
@media screen and (max-width: 540px) {
  .form-question-small {
    width: 78vw;
  }
}
@media screen and (max-width: 320px) {
  .form-question-small {
    width: 280px;
  }
}

@media screen and (max-width: 768px) {
  .form-question-footer {
    width: 74vw;
  }
}
@media screen and (max-width: 320px) {
  .form-question-footer {
    width: 280px;
  }
}

.company {
  margin: 0;
  padding-left: 6px;
  display: grid;
  grid-template-columns: repeat(2, 102px);
  align-items: center;
}
@media screen and (max-width: 768px) {
  .company {
    padding-left: 0;
  }
}
.company__subtitle-name {
  margin: 0;
  font-size: 22px;
  line-height: 30px;
  font-weight: normal;
}
@media screen and (max-width: 320px) {
  .company__subtitle-name {
    font-size: 20px;
    line-height: 28px;
  }
}
.company__subtitle-status {
  margin: 0;
  padding: 3px 8px;
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  color: #000;
  background-color: #25e197;
  border-radius: 4px;
}

.camera-backside {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 12px;
}
@media screen and (max-width: 768px) {
  .camera-backside {
    grid-template-columns: 5fr 2fr;
    grid-column-gap: 20px;
  }
}
@media screen and (max-width: 320px) {
  .camera-backside {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 16px;
  }
}
.camera-backside__left-block {
  border-radius: 10px;
  width: 100%;
}
.camera-backside__right-block {
  background-color: #ffd233;
  border-radius: 10px;
}

.camera-frontside {
  display: grid;
  grid-template-columns: 6fr 7fr;
  grid-template-rows: 1fr;
  grid-column-gap: 18px;
  margin: 20px 0 58px;
}
@media screen and (max-width: 768px) {
  .camera-frontside {
    grid-template-columns: 3fr 8fr;
  }
}
@media screen and (max-width: 320px) {
  .camera-frontside {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 5fr;
    grid-row-gap: 18px;
    margin: 18px 0 15px;
  }
}
.camera-frontside__left-block {
  background-color: #25e197;
  border-radius: 10px;
}
.camera-frontside__right-block {
  background-size: cover;
  width: 100%;
}

.warranty {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  padding: 60px 130px 60px;
}
@media screen and (max-width: 768px) {
  .warranty {
    padding: 60px 0 62px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 20px;
  }
}
@media screen and (max-width: 340px) {
  .warranty {
    padding: 40px 0 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 23px;
  }
}
.warranty__title {
  font-size: 18px;
}
.warranty__subtitle {
  font-size: 15px;
  font-weight: normal;
  padding: 20px 0 22px;
  margin: 0;
}
@media screen and (max-width: 320px) {
  .warranty__subtitle {
    font-size: 12px;
    line-height: 18px;
    padding: 20px 0 14px;
  }
}
.warranty__card {
  background-color: #1c1c1e;
  padding: 0 20px;
  border-radius: 10px;
}
.warranty__card:hover {
  background: #232327;
}

.button-send-message {
  border: none;
  margin: 90px 130px -8px;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  width: 21.1vw;
  height: 50px;
  letter-spacing: 0.375px;
  text-align: center;
  line-height: 24px;
  color: #fff;
  background-color: #47474c;
  transition: color 0.2s;
  border-radius: 8px;
}
@media screen and (max-width: 768px) {
  .button-send-message {
    margin: 80px 0 0;
    width: 40vw;
    font-size: 1.825vw;
  }
}
@media screen and (max-width: 540px) {
  .button-send-message {
    width: 78vw;
  }
}
@media screen and (max-width: 320px) {
  .button-send-message {
    margin: 50px 0 0;
    width: 280px;
    font-size: 12px;
    line-height: 18px;
  }
}

.footer {
  margin: 0;
  padding: 298px 160px 18px;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 270px 60px 18px;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    padding: 210px 20px 18px;
  }
}
.footer__company {
  padding-left: 0;
  margin-bottom: 84px;
}
@media screen and (max-width: 320px) {
  .footer__company {
    margin-bottom: 184px;
  }
}
.footer__subtitle-info {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: #47474c;
  margin: 0;
  padding: 18px 0 118px;
}
@media screen and (max-width: 768px) {
  .footer__subtitle-info {
    padding: 18px 0 42px;
  }
}
@media screen and (max-width: 320px) {
  .footer__subtitle-info {
    padding: 10px 3px 30px;
  }
}
.footer__info {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .footer__info {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */